html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  box-sizing: border-box;
}
body > .container {
  padding: 80px 15px 0;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
}
.footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

#cswallpaper {
  background-image: url("/images/wallpaper_cs.jpg");
  height: 300px;
}

#sensewallpaper {
  background-image: url("/images/wallpaper_sense.jpg");
}

.whitespacecards {
  padding: 30px 0;
}

.topmargin {
  margin-top: 30px; /*Set top margin*/
}

.cards {
  width: 25rem;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.rightalign {
  float: right;
}
/*
.carousel-control-next,
.carousel-control-prev {
  filter: invert(100%);
}
*/